html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1faf8;
  color: #2c3333;
}
a {
  text-decoration: none;
  color: #2c3333;
}
button {
  cursor: default;
}
span {
  color: #395b64;
}

/* ======================HEADER===================== */
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 200px;
  padding-right: 200px;

  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 100; /* Adicionado z-index para garantir que fique acima do conteúdo da página */
}

.header_container_scrolled {
  background-color: #243030;
  color: #ffffff;
}

.header_container_scrolled h1 {
  color: #ffffff; /* Defina a cor do texto para o elemento h1 */
}

.header_container_scrolled a {
  color: #ffffff; /* Defina a cor do texto para os elementos de link */
}

.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: default;
}

.header_lista {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 70px;
  list-style: none;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
}

.menu-item-active {
  text-decoration: underline;
}
/* ======================HOME===================== */
.container {
  display: grid;
  color: #2c3333;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-between;

  margin-left: 200px;
  margin-right: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 80px;
}

.buttonDistance {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #395b64;
  color: #e7f6f2;
  padding: 20px;

  font-size: 22px;
  font-weight: bold;

  border-radius: 20px;
  border: none;
}
.iconsSocialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.gridLeft {
  margin-top: 150px;
  justify-content: center;
}

.gridRight {
  margin-top: 100px;

  display: flex;
  justify-content: right;
  align-items: center;
}

.imgHome {
  width: 70%;
}
/* ==============PORTFOLIO================ */
.portContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

.containerPortfolio {
  display: grid;
  color: #2c3333;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-between;
}

.gridPortfolio {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgPortfolio {
  width: 90%;
}

.description {
  font-size: 20px;
  font-weight: bolder;
}
/* ==============EXPERIENCIA================ */
.containerExp {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 200px;
  margin-right: 200px;
}
.gridDisplay {
  display: grid;
  color: #2c3333;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
}
.h1Exp {
  font-size: 32px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardsExp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: 60px;
  margin-right: 60px;
}
.card1 {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #2c3333;
  width: 50%;
  height: 350px;
  color: #e7f6f2;
}
.card2 {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #395b64;
  width: 50%;
  height: 350px;
  color: #e7f6f2;
}
.iconsExp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footerExp {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1FooterExp {
  color: #395b64;
}

.h2FooterExp {
  color: #2c3333;
}
/* ==============SOBRE================ */

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.containerSobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: justify;

  margin-left: 200px;
  margin-right: 200px;
}

.continerSobrePrincipal {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* ==============Tecnologias================ */
.containerTec {
  padding-top: 80px;
  padding-bottom: 80px;
}

.tecAtual {
  margin-bottom: 70px;
}
.iconsTec {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.h1Tec {
  font-size: 32px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* =================== EFEITO AO PASSAR O MOUSE NO MENU ========================================
.header_lista li a:hover {
  opacity: 1;
  font-weight: 700;
}
.header_lista li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #395b64;

  position: relative;
  bottom: -2rem;
  left: -0.5rem;

  display: block;

  transition: width 0.2s;
}

.scroll .header_lista li a::after {
  background-color: white;
}

.header_lista li a.active::after,
.header_lista li a:hover::after {
  padding-inline: 0.8rem;
  width: 100%;
}

.scroll .header_lista li a.active,
.scroll .header_lista li a:hover {
  opacity: 1;
}

.scroll .header_lista a.button.active,
.scroll .header_lista a.button:hover {
  background-color: var(--primary-color);
  filter: brightness(1.3);
  border: none;
} */
